/*-----footer-----*/
.footer{
	padding: 30px 10%;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0rem;
	margin-top: auto;
}
.copyright p{
	font-size: var(--foot-font);
	font-weight: 400;
	color: var(--other-color);
}
.scroll-top {
	display: inline-flex;
	justify-content: center;
	background: transparent;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter:blur(20px);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: var(--text-color);
	font-size: 25px;
}