/*-----header-----*/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	padding: 20px 80px;
	box-sizing: border-box; /* padding won't affect height */
	display: block;
	z-index: 90;
}
header.sticky{
	backdrop-filter:blur(5px);
	-webkit-backdrop-filter:blur(5px);
}

.hamburger {
	display: none;
	position:fixed;
	flex-direction: column;
	gap: 5px;
	top: 32px;
	left: 30px;
	background: none; 
	border: none; 
	cursor: pointer;
	z-index: 100;
}
.hamburger span {
	display: block; 
	width: 22px; 
	height: 2px;
	background: white; 
	transition: transform 0.25s, opacity 0.2s;
}
.menu-open .hamburger span:nth-child(1) { transform: translateY(7px) rotate(45deg); }
.menu-open .hamburger span:nth-child(2) { opacity: 0; }
.menu-open .hamburger span:nth-child(3) { transform: translateY(-7px) rotate(-45deg); }


.logo{
	color: #fff;
	user-select: none;
	font-size: 25px;
	line-height: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	z-index: 99;
}

header .navigation ul{
	float: right;
}
header .navigation ul li{
	display: inline-block;
	line-height: 50px;
	margin: 0 5px;
}
header .navigation ul li a{
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
	padding: 7px 13px;
	transition: all .50s ease;
}
header .navigation ul li a:hover{
	color: var(--main-color);
	text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.btnLogin-popup{
	width: 100px;
	height: 40px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	margin-left: 40px;
	transition: all .50s ease;
}
.btnLogin-popup:hover{
	background: var(--main-color);
	color: var(--bg-color);
}




@media (max-width: 1185px) {
	.hamburger {
		display:flex; /* force show on mobile */
	}

	header.menu-open .navigation ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		background: rgba(5,8,35,0.5);
		top: 90px;
		left: 0;
		right: 0;
		width: 100%;
		padding: 0px 0 20px 20px;
	}
}