<link rel="stylesheet" href="/css/navbar.css">

<!--header-->
<header>
<div class="navigation">

	<button class="hamburger" id="hamburger" aria-label="Toggle menu">
		<span></span><span></span><span></span>
	</button>

	<label class="logo">Wentao Song</label>	
	<ul>
		<li><a href="/">ABOUT</a></li>
		<li><a href="research.html">RESEARCH</a></li>
		<li><a href="teaching.html">TEACHING</a></li>
		<li><a href="blog.html">BLOG</a></li>
		<li><button class="btnLogin-popup">Login</button></li>
	</ul>
</div>
</header>